:root {
    --olive:#3D9970;
}

.arrow {
    z-index: 99;
    position: fixed;
    bottom: 3em;
    right: 3em;
    box-sizing: border-box;
    height: 1.2rem;
    width: 1.2rem;
    border-style: solid;
    border-color: var(--gray);
    border-width: 0px 1px 1px 0px;
    transform: rotate(225deg);
    transition: border-width 150ms ease-in-out;
    opacity: 0;
}

.arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
    border-color: var(--olive);
}