/* .item {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
}

.item .img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    object-fit: cover;
}

.item__overlay {
    background: #ffc60032;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: 0.2s;
    transform: translateY(100%);
  }

  .item__overlay button {
    background: none;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
  }

  .item:hover .item__overlay {
    transform: translateY(0);
  } */