.item {
  /* width: 15%; */
  list-style-type: none;
  text-decoration: none;
  position: relative;
}

.view {
  width: 15%;
  position: relative;
}

.view:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: var(--olive);
  visibility: hidden;
  transition: ease-in-out 0.3s;
}

.view:hover:before {
  visibility: visible;
  height: 2px;
}