.item {
  list-style-type: none;
  text-decoration: none;
  position: relative;
} 

.title {
  margin: 0;
  padding: 0;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.view {
  position: relative;
  padding: 0;
  margin: 0;
}

.view:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: var(--olive);
  visibility: hidden;
  transition: ease-in-out 0.3s;
}

.view:hover:before {
  visibility: visible;
  width: 25%;
  height: 2px;
}