:root {
  --gray-light: #dddddd;
  --gray: #707070;
  --gray-dark: #605D5C;
  --gray-darker: #484848;
  --black: #333333;

  --brown: #BF8162;

  --light-olive: #63c198;
  --olive: #3D9970;
  --dark-olive: #2e7555;

  --light-blue: #7FDBFF;
  --blue: #007BE6;
  --dark-blue: #265C83;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

html {
  box-sizing: border-box;
  color: var(--gray-darker);
  background: whitesmoke;
  scroll-behavior: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
  color: var(--gray);
}

p {
  color: var(--gray);
}

.link-underline,
.link-underline:visited,
.link-underline:hover,.link-underline:active {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
	position: relative;
  transition: 0.5s color ease;
	text-decoration: none;
	color: var(--gray);
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link-underline:before, 
.link-underline:after {
  content: "";
  transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
}

.link-underline:after {
  bottom: -0.25em;
}

.link-underline:after {
  height: 1px;
  height: 0.15rem;
  width: 0;
  left: 0;
  background: var(--brown);
}

.link-underline:hover:after {
  width:100%;
}

/* a {
  transition: color .4s;
  color: var(--gray);
}
a:link,
a:visited { color: var(--dark-gray); }
a:hover   { color: var(--light-gray); }
a:active  {
  transition: color .3s;
  color: var(--light-gray);
}
.link { text-decoration: none; } */

/* a:link {
  color: gray;
}

a:visited {
  color: gray;
}

a:active {
  color: var(--olive);
} */