:root {
  --light-gray: #dddddd;
  --gray: #707070;
  --dark-gray: 		#484848;
  --black: #333333;

  --light-olive: #63c198;
  --olive: #3D9970;
  --dark-olive: #2e7555;

  --light-blue: #7FDBFF;
  --blue: #007BE6;
  --dark-blue: #265C83;
}

html {
  box-sizing: border-box;
  color: var(--black);
  background: white;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

p {
  color: var(--gray);
}

a {
  transition: color .4s;
  color: var(--gray);
}
a:link,
a:visited { color: var(--dark-gray); }
a:hover   { color: var(--light-gray); }
a:active  {
  transition: color .3s;
  color: var(--light-gray);
}
.link { text-decoration: none; }

/* a:link {
  color: gray;
}

a:visited {
  color: gray;
}

a:active {
  color: var(--olive);
} */