.navbar {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5em;
    padding: 1.5rem;
    align-items: center;
    justify-items: center;
    z-index: 100;
    left: .3em;
    transition: all .3s;
}

.nav-item {
    list-style-type: none;
    text-decoration: none;
    color: var(--black);
    position: relative;
}

/* .nav-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: var(--olive);
  visibility: hidden;
  transition: ease-in-out 0.3s;
}

.nav-item:hover:before {
  visibility: visible;
  height: 3px;
} */

.navbar--hidden {
  left: -5rem;
}