.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    /* flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch; */
}

.item {
    display: grid;
    grid-row-start: span 3;
}

