:root {
    --black: #272727;
    --light-olive: #63c198;
    --olive: #3D9970;
    --dark-olive: #2e7555;

    --light-blue: #7FDBFF;
    --blue: #007BE6;
    --dark-blue: #265C83;
}

html {
  box-sizing: border-box;
  color: var(--black);
  background: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

p {
  color: gray;
}

a {
  transition: color .4s;
  color: var(--dark-blue);
}
a:link,
a:visited { color: var(--dark-olive); }
a:hover   { color: var(--light-olive); }
a:active  {
  transition: color .3s;
  color: var(--olive);
}
.link { text-decoration: none; }

/* a:link {
  color: gray;
}

a:visited {
  color: gray;
}

a:active {
  color: var(--olive);
} */