.navbar {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-auto-flow: column; */
    grid-gap: 1.1rem;
    padding: 1.5rem;
    position: fixed;
    transition: all .3s;
    scroll-behavior: smooth;
    align-items:center;
    justify-items: center;
}

.nav-item {
    list-style-type: none;
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    position: relative;
}

.nav-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: var(--olive);
  visibility: hidden;
  transition: ease-in-out 0.3s;
}

.nav-item:hover:before {
  visibility: visible;
  height: 3px;
    /* border-bottom: 2px solid black; */
    /* font-size: large; */
    /* animation: glow 1s ease-in-out alternate; */
}