.navbar {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-auto-flow: column; */
    grid-gap: 1.1rem;
    padding: 1.5rem;
    position: fixed;
    transition: all .3s;
    scroll-behavior: smooth;
}

.nav-item {
    list-style-type: none;
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    transition: ease-in-out 0.3s;
}

.nav-item:hover {
    /* border-bottom: 2px solid black; */
    font-size: large;
    /* animation: glow 1s ease-in-out alternate; */
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}