/* .arrow {
    box-sizing: border-box;
    height: 3vw;
    width: 3vw;
    border-style: solid;
    border-color: var(--gray);
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
}

.arrow:hover {
    border-color: var(--brown);
} */

.arrow {
    margin-top: 3em;
    font-size: 1.5em;
    transform: rotate(90deg);
    color: var(--gray);
    text-decoration: none;
}